* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system;
}

html, body {
    height: 100%;
    background: #000;
}

/* APP */
.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.chat-header {
    height: 56px;
    border-bottom: 1px solid #222;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.chat-name {
    color: #fff;
    font-weight: 600;
}

/* CHAT AREA */
.chat-box {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* BOT MESSAGE (LEFT) */
.ai-msg {
    align-self: flex-start;
    max-width: 75%;
    background: #262626;
    color: #fff;
    padding: 10px 14px;
    border-radius: 18px;
    margin-bottom: 10px;
}

/* USER MESSAGE (RIGHT) */
.user-msg {
    align-self: flex-end;
    max-width: 75%;
    background: #3797f0;
    color: #fff;
    padding: 10px 14px;
    border-radius: 18px;
    margin-bottom: 10px;
}

/* INPUT BAR */
.chat-input-bar {
    display: flex;
    padding: 10px;
    border-top: 1px solid #222;
}

/* INPUT */
.chat-input-bar input {
    flex: 1;
    background: #262626;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 16px;
    border-radius: 22px;
}

/* SEND */
.chat-input-bar button {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: #3797f0;
    font-weight: 600;
    cursor: pointer;
}
